
<html>

	<div class="row">
           <div class="col-md-12">              
              <div style="text-align: left;"> Return Name :                                         ${companyName}</div>
              <div style="text-align: left;"> Created :${createdDate}                               Inventory Report</div>
          </div>
     </div>
	
<table style="overflow-x:auto;">
					
					
				         <thead>
							<th style="border:1px solid #FFFFFF ">NDC/UPC</th>
							<th style="border:1px solid #FFFFFF ">Description</th>
							<th style="border:1px solid #FFFFFF ">Strength</th>
							<th style="border:1px solid #FFFFFF ">Dsg</th>
							<th style="border:1px solid #FFFFFF ">Returnable</th>
							<th style="border:1px solid #FFFFFF ">Pkg Size</th>
							<th style="border:1px solid #FFFFFF ">Full Qty</th>
							<th style="border:1px solid #FFFFFF ">Partial Qty</th>
							<th style="border:1px solid #FFFFFF ">Price</th>
							<th style="border:1px solid #FFFFFF ">Total</th>
						</thead> 
						<tbody>
				       	#foreach($item in $listSearchBean)
					       
					         <tr>
                          <td colspan="10"  style="border:1px solid #FFFFFF "><b>${item.manufacturername}</b></td>
                            </tr>
                             <tr>
								<td style="border:1px solid #FFFFFF ">${item.ndcupcCode}</td> 
								<td style="border:1px solid #FFFFFF ">${item.description}</td>
								<td style="border:1px solid #FFFFFF ">${item.strength}</td>	
								<td style="border:1px solid #FFFFFF ">${item.dosage}</td>	
								<td style="border:1px solid #FFFFFF "></td>	
								<td style="border:1px solid #FFFFFF ">${item.pakageSize}</td>	
								<td style="border:1px solid #FFFFFF ">${item.fullQuantity}</td>	
								<td style="border:1px solid #FFFFFF ">${item.partialQuantity}</td>	
								<td style="border:1px solid #FFFFFF ">${item.price}</td>
								<td style="border:1px solid #FFFFFF "></td>	
							</tr>
						#end
						</tbody>
					</table>			
				

</html>

